{
    "access-token": {
        "github": ""
    },
    "twitter": {
        "api-key": "",
        "api-secret-key": "",
        "bearer-token": "",
        "my-token": {
            "access-token": "",
            "access-token-secret": ""
        }
    },
    "instagram": {
        "username": "",
        "password": ""
    }
}