{
    "github": {
        "access-token": ""
    },
    "twitter": {
        "api-key": "",
        "api-secret-key": "",
        "bearer-token": "",
        "my-token": {
            "access-token": "",
            "access-token-secret": ""
        }
    },
    "instagram": {
        "username": "",
        "password": ""
    },
     "facebook": {
        "app-id": "",
        "app-secret": "",
        "access-token": "",
        "app-token": ""
    }
}